In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df=pd.read_csv('home-price.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
import math
#finding the median bcz one is null bedroom
bmedian=math.floor(df.bedrooms.median())
bmedian

3

In [4]:
# now we ll fill that 
df.bedrooms=df.bedrooms.fillna(bmedian)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
# going to train model for multiple variable
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [6]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [7]:
reg.intercept_

383724.99999999994

In [11]:
# here we are going to predict the value of 3000 sq feet, 3 bed, 40 year
reg.predict([[3000,3,40]])

array([444400.])

In [26]:
# proof calculation
137.25*3000+(-26025*3)+(-6825*40) +383724.99999999994

444399.99999999994